<%= content_for :head do %>
  <meta charset="utf-8">

  <script src='/vendor/underscore-min.js'></script>
  <script src='/vendor/dropzone.js' type='text/javascript'></script>
  <script src='/vendor/spectrum.js' type='text/javascript'></script>
  <script src='/vendor/croppie.min.js' type='text/javascript'></script>

  <link rel="stylesheet" href="/vendor/spectrum.css">
  <link rel="stylesheet" href="/vendor/croppie.min.css">
  <link rel="icon" href="/images/icon.png" id='fav-icon'>

  <title>Friend heads SHOW</title>

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Friendheads" />
  <meta property="og:site_name" content="Friendheads"/>
  <meta property="og:title" content="For your friends and their heads"/>
  <meta property="og:description" content="Upload your friendheads and share them with the world."/>
  <meta name="twitter:description" content="Upload your friendheads and share them with the world."/>
<% end %>

<div id='head-options' data-options='<%= @head.options_as_query %>'></div>
<img id='img' class='hidden' src='<%=head_image_path(@head.external_id) %>'>

<div class="hidden js-page-data" data-i='<%= "#{params[:id]}" %>' data-si='<%= "#{params[:sample_id]}" %>'></div>

<% if @embedded %>
  <div id='embebed-iframe'></div>
<% else %>
  <%= render 'head' %>
<% end %>
<div class="js-form-stuff form-stuff hidden center clearfix">
  <div class='page-title'>Friendheads</div>
  <div class='page-description'>For your friends and their heads</div>
  <div class='image-upload-button upload-button'>Upload/Drop an image</div>
  <span class='js-advanced-settings-toggle extra-option advanced-settings-toggle'>Advanced Settings</span>
  <span class='js-samples-toggle extra-option samples-toggle'>Samples</span>
  <br>
  <div class="js-samples hidden head-samples">
    <% Head::DEFAULT_HEADS.each do |h| %>
      <a href='/<%= h %>' target="_blank" class='sample-link'>
        <%= image_tag "heads/#{h}.png" %>
      </a>
    <% end %>
  </div>

  <%= render 'advanced_settings' %>
</div>
<canvas id="background-canvas" class='hidden'></canvas>
<canvas id="js-content"></canvas>

<%= image_tag "limbs/left.png", class: 'hidden', id: 'left-hand' %>
<%= image_tag "limbs/right.png", class: 'hidden', id: 'right-hand' %>
<%= image_tag "limbs/left-foot.png", class: 'hidden', id: 'left-foot' %>
<%= image_tag "limbs/right-foot.png", class: 'hidden', id: 'right-foot' %>

<% unless @embedded %>
  <%= render 'footer' %>
<% end %>
