<div class="embed-page center">

  <link rel="stylesheet" href="/vendor/highlight.min.css">
  <script src="/vendor/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

  <h1>Embedding friendheads</h1>

  <h3>Simple config</h3>

  <div class="big-info">
    To add a friendhead automatically to your page, just add these script tags:
  </div>

  <pre><code class='html'><%= @easy_setup %></code></pre>

  <div class="small-info">
    <% unless @external_id %>
      <%= @head_id_message %>
    <% end %>
  </div>

  <%= link_to('View demo', demo_path({id: 1, head: @external_id}.compact)) %>
  <br><br>

  <h3>Advanced config</h3>


  <div class="big-info">
    Just add the single script tag
  </div>

  <pre><code class='html'><%= @master_setup %></code></pre>

  <div class="big-info">
    Then add and remove your heads later with js
  </div>

  <pre><code class='javascript'><%= @advanced_js %></code></pre>

  <%= link_to('View demo', demo_path({id: 2, head: @external_id}.compact)) %>
  <br><br>

  <h3>More advanced config</h3>

  <div class="big-info">
    You can easily get and set the opacity of the heads
  </div>

  <pre><code class='javascript'><%= @opacity_js %></code></pre>

  <div class="big-info">
    Or initialize with an opacity
  </div>

  <pre><code class='javascript'><%= @opacity_init_js %></code></pre>

  <div class="big-info">
    Add heads to a node other than the body
  </div>

  <pre><code class='javascript'><%= @other_parent_js %></code></pre>


</div>
